<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="emRec_project.Properties.Settings.PulsDBConnectionString"
            connectionString="Data Source=LOVRA-PC;Initial Catalog=PulsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>